// :root {
//   font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
//   font-size: 16px;
//   line-height: 24px;
//   font-weight: 400;

//   color-scheme: light dark;
//   color: rgba(255, 255, 255, 0.87);
//   background-color: #242424;

//   font-synthesis: none;
//   text-rendering: optimizeLegibility;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   -webkit-text-size-adjust: 100%;
// }

a {
  // font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: $font;
}
#app {
  margin: 0 auto;
  height: 100vh;
  font-size: 14px;
  // 取消移动端长按事件
  -webkit-touch-callout: none !important;
  -webkit-user-select: none;
}
.main {
  height: 100%;
  width: 100%;
}
//图标
.icon {
  width: 18px;
  height: 18px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.row {
  display: flex;
  > div {
    flex: 1;
  }
}
.app-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  .main-container {
    height: calc(100% - 58px);
  }

  //字体靠右 排序靠右
  .el-table .cell {
    display: flex;
    align-items: center;
    text-align: right;
  }
  thead tr {
    font-size: 12px;
  }
  .container {
    height: 100%;
    padding: 10px;
    box-sizing: border-box;

    .content {
      height: calc(100% - 48px);
      .list-table {
        height: 100%;
        .el-table {
          height: 100%;
        }
        .el-table__inner-wrapper {
          border-left: 1px solid $line;
          border-right: 1px solid $line;
        }
      }
    }
  }
}
