$theme: #d9534f;
$orange: #ffad60;
$yellow: #ffeead;
$green: #96ceb4;
$line: #ebeef5;
// $line: rgb(0 0 0 / 10%)#ebeef5;
$font: rgb(0 0 0 / 70%);
:export {
  theme: $theme;
  line: $line;
  font: $font;
}
